@model MvcLabApp.Models.CalculatorViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Simple Calculator</h1>

</div>

<br />
<form asp-action="Result" asp-controller="Home">
    <label asp-for="Num1"></label>
    <input asp-for="Num1" placeholder="Enter first number" />
    <label asp-for="Num2"></label>
    <input asp-for="Num2" placeholder="Enter second number" />
    <br />
    <div class="form-check">
        Plus
        @Html.RadioButtonFor(x => x.Operation, "Plus")
        <br />
        Minus
        @Html.RadioButtonFor(x => x.Operation, "Minus")
        <br />
        Multiply
        @Html.RadioButtonFor(x => x.Operation, "Multiply")
        <br />
        Divide
        @Html.RadioButtonFor(x => x.Operation, "Divide")
    </div>
    <br />
    <input type="submit" value="Calculate" class="col-md-12 text-center"/>
</form>
